.view {
    height: 100vh;
    width: 100vw;
    &_todo {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.tree_wrapper {
    height: 100%;
}